/* Estilos dos títulos h1 */
h1 {
    color: rgb(138, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 48px;
    text-align: center;
}

/* Estilos dos títulos h2 */
h2 {
    color: rgb(56, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    text-align: center;
}

/* Estilos dos títulos h3 */
h3 {
    color: rgb(51, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-align: center;
}

/* Estilos dos parágrafos */
p {
    color: rgb(122, 1, 1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: justify;
}

/* Estilos dos links */
a {
    color: rgb(22, 0, 119);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-decoration: none;
}

/* Estilos da tabela */
table {
    color: blue;
    width: 50%;
    border-collapse: collapse;
}
/* Estilos de Classe */
.paragraph {
    background-color: lightgreen;
    color: darkgreen;
}
/* Estilos de ID */
#title {
    background-color: greenyellow;
    border-bottom: purple 10px solid;
    color: purple;
    text-align: center;
}

/* Texto Color */
#text-color {
    color: orange;
}

/* Texto RGB */
#text-rgb {
    color: rgb(255, 165, 0);
}

/* Texto RGB */
#text-rgb {
    color: rgb(255, 165, 0);
}

/* Texto RGBA */
#text-rgba {
    color: rgba(255, 165, 0, 0.5);
}

/* Texto HSL */
#text-hsl {
    color: hsl(39, 100%, 50%);
}

/* Texto HSLA */
#text-hsla {
    color: hsla(39, 100%, 50%, 0.5);
}

/* Texto HEX */
#text-hex {
    color: #FFA500;
}

/* Cor do Plano de Fundo */
#background-color {
    color: #f46a42;
    background-color: lightblue;
}
#background-color2 {
    color: #553464;
    background-color: rgb(173, 216, 230);
}

/* Cor do Plano de Fundo com Opacidade */
#background-color-opacity {
    color: #553464;
    background-color: rgb(173, 216, 230);
    opacity: 0.2;

}

/* Background Image */
#bg-image {
    background-image: url("../HTML/img/nature.jpg");
    padding: 10px;
    color: white;
}